<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="content">
        <h1><%= pageTitle %> </h1>

        <p>Jeder Partner-Shop kann Zugriff auf ein Dashboard bekommen, welches aktuell folgende Metriken ausspielt:</p>
        <img class="mt-2" src="https://wertgarantie-bifrost.s3.eu-central-1.amazonaws.com/screenshot_dashboard.png" alt="dashboard">
            
    </main>
    
<%- include('../includes/end.ejs') %>