<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy-Produkt</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
<h1>Wertgarantie-Partner</h1>
<%- include('navbar') %>
<wertgarantie-landing-page
        class="wertgarantie-landing-page"
        data-bifrost-uri="<%= bifrostUriForFEComponents %>"
        data-client-id="<%= publicClientId %>"
        data-partner-number="1755805">
</wertgarantie-landing-page>

<script type="module" src="<%= landingPageComponentUri %>" crossorigin="anonymous"></script>
</body>
</html>
