<div class="nav-bar">
    <div class="nav-bar__element element">
        <div class="element__child">
            <a href="/">Start</a>
        </div>
        <div class="element__child">
            <a href="/insurances">Versicherung</a>
        </div>
    </div>
    <div class="nav-bar__element">
        <div class="element__child">
            <a href="/shoppingCart">Warenkorb</a>
        </div>
        <div class="element__child">
            <a href="/clientConfig">Client-Konfiguration</a>
        </div>
    </div>
</div>
<hr/>
