<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy-Produkt</title>
    <link rel="stylesheet" href="/css/dummyProduct.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
<h1>Willkommen im Dummy-Shop</h1>
<%- include('navbar') %>
<% products.forEach(product => { %>
    <div class="list-item">
        <div class="description">
            <a href="<%= '/products/' + product.id %>"><%= product.name %></a>
        </div>
        <hr/>
    </div>
<% }); %>
</body>
</html>