.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.nav-bar__element {
    display: flex;
}

.element__child {
    padding: 2em;
    margin: 1em;
    border: 2px solid black;
}

.dummy-product-link {
    width: 20%;
    text-align: center;
}

