<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy-Produkt</title>
    <link rel="stylesheet" href="/css/dummyProduct.css">
</head>
<body>
    <h1>Willkommen im Dummy-Shop mit nur einem Produkt</h1>
    <div class="header-bar">
        <div class="header-bar__element dummy-product-link">
            <a href="/">Dummy-Produkt</a>
        </div>
        <div class="header-bar__element">
            <a href="/shoppingCart">Warenkorb</a>
        </div>
    </div>
    <hr/>

    <div class="product-selection">
        <div class="product-selection__image">
            <img src="https://bilder.pcwelt.de/3433472_620x310_r.jpg">
        </div>
        <div class="product-selection__info">
            <h3>Produktinformation</h3>
            <div class="info__description">
                <p>Flash Handy 3000 Pro</p>
                <p>Komponenten:</p>
                <ul>
                    <li>Knöpfe</li>
                    <li>Antenne</li>
                    <li>Lautsprecher</li>
                    <li>Das Internet</li>
                </ul>
            </div>
            <div class="info__description">
                <h4>Preis:</h4>
                <p>860,00€</p>
            </div>
            <div class="order-panel">
                <form>
                    <input type="hidden" value="Flash Handy 3000 Pro" name="productName">
                    <input type="hidden" value="860.00" name="productPrice">
                    <input type="hidden" value="efb026ec-14cd-4dfd-9056-37cb23f8f5b2" name="productId">
                    <button class="submit-button" formaction="/addToShoppingCart" formmethod="POST">In den Warenkorb</button>
                </form>
            </div>
            <div>
                <p>Erhalten Sie Versicherungsangebote der Wertgarantie zu diesem Produkt. Einfach in den Warenkorb legen.</p>
                Wertgarantie: <wertgarantie-rating data-bifrost-uri="<%= bifrostUriForFEComponents %>"></wertgarantie-rating>
            </div>
        </div>
    </div>
    <script type="module" src="<%= ratingComponentUri %>" crossorigin="anonymous"></script>
</body>
</html>